<head>
  <link rel="stylesheet" href="./enter-activity.component.css">
</head>

<body>

<h1 class="center">Enter Activity</h1>

<div class="enterActivity">

  <input class="center" type="text" placeholder="Enter Location">

  <p class="center">What Precautions did You Take?</p>
  <label class="center"><input class="center" type="checkbox" value="Facial Covering" name="precaution" ngModel> Facial Covering</label>
  <label class="center"><input class="center" type="checkbox" value="Social Distancing" name="precaution" ngModel> Social Distancing</label>
  <label class="center"><input class="center" type="checkbox" value="Curbside Pickup" name="precaution" ngModel> Curbside Pickup</label>

  <p class="center">Time of Visit</p>
  <input [ngxTimepicker]="picker" placeholder="12:00 AM">
  <ngx-material-timepicker class="center" #picker></ngx-material-timepicker>

  <br>
  <button class="center" (click)="submitButtonClicked()">Submit</button>

</div>

</body>

<router-outlet></router-outlet>
