<!-- <head>
  <link rel="stylesheet" href="./enter-activity.component.css">
</head>

<body>

<h1 class="center">Enter Activity</h1>

<div class="enterActivity">

  <input class="center" id="location" type="text" placeholder="Enter Location">

  <p class="center">What Precautions did You Take?</p>
  <label class="center"><input class="center" [(ngModel)]="faceCovering" type="checkbox" value="Facial Covering" name="precaution" ngModel> Facial Covering</label>
  <label class="center"><input class="center" [(ngModel)]="socialDistancing" id="precaution1" type="checkbox" value="Social Distancing" name="precaution" ngModel> Social Distancing</label>
  <label class="center"><input class="center" [(ngModel)]="curbside" type="checkbox" value="Curbside Pickup" name="precaution" ngModel> Curbside Pickup</label>

  <p class="center">Time of Visit</p>
  <input [ngxTimepicker]="picker" id="time" placeholder="12:00 AM">
  <ngx-material-timepicker class="center" #picker></ngx-material-timepicker>

  <br>
  <button class="center" (click)="submitButtonClicked()">Submit</button>

</div>

</body>

<router-outlet></router-outlet> -->


<style></style>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <body>
    <div class="container">
                <div class="row">
                  <div class="col-md-6 reset-form">
                        <h3>Enter Activity</h3>
                        <form >
                          <div class="enterActivity">

                            <input class="center" id="location" type="text" placeholder="Enter Location">

                            <p class="center">What Precautions did You Take?</p>
                            <label class="center"><input class="center" [(ngModel)]="faceCovering" type="checkbox" value="Facial Covering" name="precaution" ngModel> Facial Covering</label>
                            <label class="center"><input class="center" [(ngModel)]="socialDistancing" id="precaution1" type="checkbox" value="Social Distancing" name="precaution" ngModel> Social Distancing</label>
                            <label class="center"><input class="center" [(ngModel)]="curbside" type="checkbox" value="Curbside Pickup" name="precaution" ngModel> Curbside Pickup</label>

                            <p class="center">Time of Visit</p>
                            <input [ngxTimepicker]="picker" id="time" placeholder="12:00 AM">
                            <ngx-material-timepicker class="center" #picker></ngx-material-timepicker>

                            <br>
                            <button class="center" (click)="submitButtonClicked()">Submit</button>

                          </div>
                        </form>
                    </div>
                </div>
            </div>
</body>
<router-outlet></router-outlet>
