<head>
  <link rel="stylesheet" href="./activity-feed.component.css">
</head>

<body>
  <div class="wrapper">
    <div class="one"><h1>Recent Activity</h1></div>
    <div class="two">
     <us-map class="mapImg" (onMapClick) ="usMapClick($event)" fillColor="#2535c4" fillStateColor="#D0D0D0" strokeColor="#8E8E8E" > </us-map>
    </div>
    <div class="three"><table><tbody id="body">
      <tr><td class="label"><h3>User</h3></td> <td class="label"><h3>Activity</h3></td> <td><h3>Time</h3></td></tr>
    </tbody></table></div>
  </div>
  <!-- <div *ngIf="isLoggedIn == 'true'; else loggedOut"> -->
    <!-- <div class="wrapper">
      <div class="one">Enter website greeting here this spans across the top of the whole page</div>
      <div class="two"><img class="mapImg" src="../../assets/img/mapPlaceholder.jpg" alt="map image"></div>
      <div class="three"><img class="activityImg" src="../../assets/img/activityFeedPlaceholder.PNG" alt="feed image"></div>
    </div> -->
  <!-- </div> -->

  <!-- <ng-template #loggedOut>
    <app-login></app-login>
  </ng-template> -->
</body>

<router-outlet></router-outlet>
