  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <a mat-button [routerLink]="'/'"> <h1>Where Were You </h1></a>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button [routerLink]="'/activity-feed'"> Activity Feed </a>
        <a mat-button [routerLink]="'/friends'"> Friends </a>
        <a mat-button [routerLink]="'/enter-activity'"> Enter Activity </a>
        <a mat-button [routerLink]="'/account'"> Account </a>
      </div>
    </mat-toolbar-row>

  </mat-toolbar>


<router-outlet></router-outlet>
