.accountInfo{
  margin: 5px;
}
.center{
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}
#logout{
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 8%;
  border-radius: 12px;
}
