.container{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 30%;
    margin-left: 35%;
}

.reset-form{
    padding: 5%;
    background: #0062cc;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.reset-form h3{
    text-align: center;
    color: #fff;
}
.container form{
    padding: 5%;
}
.btnSubmit
{
    width: 45%;
    border-radius: 1rem;
    margin-right: 5%;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.reset-form .btnSubmit{
    font-weight: 600;
    color: #0062cc;
    background-color: #fff;
}
